<!DOCTYPE html>
<html>
  <head>
    <style>
        h1 {text-align: center;}
       
        h1 {
    font-size: 60px;
}
p{
    font-size: 30px;
}
body{background-color:powderblue;}
        </style>
    <title>Contacts Table</title>
  </head>
  <body> 
    <h1>Contacts</h1>
    
    <ol>
        <li>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus tortor id mi dignissim blandit.</p>
        </li>
        <li>
          <p>Nullam in nisi id felis iaculis congue. Morbi lacinia risus a nunc fringilla fermentum.</p>
        </li>
        <li>
          <p>Aliquam fermentum dolor et lacus pharetra, a convallis neque pretium. Integer in arcu et lectus bibendum convallis.</p>
        </li>
      </ol>
  </body>
</html>
